// Fixed Nav Bar with clearfix 
.topnav {
  overflow: hidden;
  background-color: #F5F5F5;
  position: fixed;
  width: 100%;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
